
@media print
{
    table {
        display: block;
        overflow-x: auto;
    }
  .btnFooter{
  	display: none !important;
  }
  .ibox-content #cliente{
  display: none !important;
  }
  #buscar{
   display: none !important;
  }

.fechas{
	
	display:none !important;
}

  .title{
  	text-align: center !important;
  	font-size: 30px !important;
  	font-weight: bold !important;
  }
  #divListProduct,#selectCliente,#detail,#accion,#btnAccion,.amountInput,#valueIgv{
  display:none !important;
  }

   #datePrint{
  	font-size: 20px !important;
  	font-family: inherit !important;
  }

  
  #divTable{
  
  	height: auto !important;
  	padding: 0 !important;
  	margin: 0 !important;
  	font-family: inherit !important;
  	width: 114mm !important;
  }
  
  
  #datatable-detail{
  width: 90% !important;
  text-transform: uppercase !important;
  border: 1px solid;
  
  }
 
  .texto{
  	text-align: center;
  }
  .numberCantPrint{
    	font-size: 22px !important;
  	text-align: center !important;
  }
  #desc-producto{
   width: 43% !important;
  }
  .desc-product{
  	text-align: left;
  	font-size: 22px !important;
  	text-transform: uppercase !important;
  }
  .numberPrint{
  	font-size: 22px !important;  	
  	text-align: right !important;
  }
  .numberUniPrint{
  font-size: 22px !important;
  text-align: right !important;
  }
  
/*   	reportproducSales */
  	.title,#filterDate{
  	display: none;
  	}
  	#tablaProductSales,#cabeceraReport {
  	display: block !important;
  	text-transform: uppercase !important;
  	font-family: inherit !important;  	
  	height: auto !important;
  		width: 114mm !important;
  	}

    #desc-productos{
   width: 45% !important;
  }

   .datos,.rptotal{
   text-align: left !important;
   	font-size: 22px !important;
   }
/*    detail */
   #cabeceraDetail, #tablaReportDetail,#datesDetail{
   display: block !important;
  	text-transform: uppercase !important;
  	font-family: inherit !important;
  	width: 20cm !important;
   
   }

   .col-detail1{
   	width: 60% !important;
   	display: inline-block !important;
   }
   .col-detail2{
   	width: 35% !important;
   	display: inline-block !important;
   }
/*    dialyBalance */
	#reportDaily{
				display: block !important;
  	text-transform: uppercase !important;
  	font-family: inherit !important;
  	width: 114mm !important;
  	top: 0 !important;
  	height: auto !important;
	}
   #body-srd{
   	width: 90% !important;
   	
   }
   .code1{
   	width: 55% !important;
   	display:  inline-block;
   }
  
   .code2{
   	width: 43% important;
   	display:  inline-block;
   	text-align: right !important;
   	font-size: 20px !important;
  
   	
   }
 
    .code3{
   	width: 45% important;
   	display:  inline-block;   
   	
   }
    .code4{
   	width: 45% important;
   	display:  inline-block;   
   	
   }
   
   #printable-section{
   	display:block;
   }				
   .no-print{display:none;}
   
   .marcoDocument{
		text-align: center !important;
		border-radius: 5px !important;
		border: 1px solid #606060 !important;
	}
	.qrcode img{
		width: 100px;
		height: 100px;
		margin: auto;
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    #print_sales table thead{
      color:red;  
      font-size:20px;
    }
    #print_sales table tbody{
      color:blue; 
      font-size:12px;
    }
    #parent{
        display:flex;
        flex-direction:row;
/* 												  border:1px solid black; */
        justify-content:space-evenly;
        
      }
      #qr,#obs,#value{
        width:100%;
        border:1px solid red;
        /* margin: 2px; */
      }	
      #qr{
        display:flex;
        align-items:center;
      }

    .divborder {
        border-top: 1px solid red;
        border-right: 1px solid red;
        border-bottom: 1px solid red;
        border-left: 1px solid red;
        height: 15px;
      }
}
  
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#print_sales table thead{
  color:red;  
  font-size:20px;
}
#print_sales table tbody{
  color:blue; 
  font-size:12px;
}
#parent{
    display:flex;
    flex-direction:row;
/* 												  border:1px solid black; */
    justify-content:space-evenly;
    
  }
  #qr,#obs,#value{
    width:100%;
    border:1px solid red;
    margin: 2px;
  }	
  #qr{
    display:flex;
    align-items:center;
  }

.divborder {
    border-top: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    height: 15px;    
  }