.modal-size{
    width: 95%;
    margin-top: 10px;
}
.modal-size-md{
  width: 50%;
  margin-top: 10px;
  margin-left: 25%;
}
.modal-foot {
    padding: 15px;
    text-align: right;
    /* border-top: 1px solid #e5e5e5; */
  }
.product-title{
    background:#4E4E4E;
    padding-bottom:20px;
    margin:0;
    color: white;
}

/* .list-product a {
	padding:0;
    background:#bba8a8;
}   */
.product-details {
    background:#e1e1e1;
    padding-bottom:20px;
    margin:0;
    color: green;
}
.product-details:hover {color:blue;}
.list-product a {
    color: black;
}  

.table-filters{
    background:cadetblue;
    padding:2px;
    margin:0;
}

.table-filters input, .table-filters select{
  padding:3px 10px;
  height:25px;
  background-color:white !important;
}
.table-filters .search-block label{
    display:inline-block;
    width:30%;
    text-align:right;
}
 .table-filters .search-block input{
    width:68%;
 }
.table-filters .input-group-addon{
 padding:2px 5px;
}
.pagination > li > a{
    padding:2px 10px;
    font-size:10px;
    cursor:pointer;
}
#section-list-products #list .list-product {
	padding:0;
	background:#f7f7f7;
}  

#section-list-products #list .list-product .row.title{
	background:linear-gradient(#ddd, #efefef);
}

/*.table-print{*/
/*    font-family: Verdana;*/
/*    width: 50%;*/
/*    border: 1px solid black !important;border-collapse: collapse;*/
/*}*/
/*.table-print th{*/
/*    background: #0834F9;*/
/*    color: white;*/
/*    border: 1px solid black !important;border-collapse: collapse;*/
/*}*/
/*.table-print td{*/
/*    background: #FFF9DD;*/
/*    border: 1px solid black !important;border-collapse: collapse;*/
/*}*/
@media screen and (max-width: 320px) {
    table {
        display: block;
        overflow-x: auto;
    }
}


/* todo para mobile grid div */

@media screen and (max-width: 580px) {
    body{
      font-size: 16px;
      line-height: 22px;
    }
  }
  .wrapper-mobile{
    margin: 0 auto;
    padding: 5px;
    max-width: 100%;
  }
  
  
  @media screen and (max-width: 580px) {
    .table-mobile{
      display: block;
    }
  
  }
  .table-mobile{
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgb(0,0,0,0.2);
    display: table;
  }
  .row-mobile{
    display: table-row;
    background: #f6f6f6;
  }
  .row-mobile:nth-of-type(odd){
    background: #e9e9e9;
  }
  .row-mobile.header-mobile{
    font-weight: 900;
    color: #fff;
    background: #ea6153;
  }
  .row-mobile.header-green{
    font-weight: 900;
    color: #fff;
    background: #06d79c;
  
  }
  @media screen and (max-width: 580px) {
    .row-mobile{
      padding: 14px 0 7px;
    }
    .row-mobile.header-mobile{
      padding: 0;
      height: 6px;
      display: none;
    }
    .row-mobile.header-green{
      padding: 0;
      height: 6px;
      display: none;
    }
    .row-mobile .cell-mobile{
      margin-bottom: 10px;
    }
    .row-mobile .cell-mobile:before{
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block;
  
    }
  }
  
  .cell-mobile{
    padding: 6px 12px;
    display: table-cell;
  
  }
  
  @media screen and (max-width: 580px) {
    .cell-mobile {
      padding: 2px 16px;
      display: block;
    }
  
  }
  /* todo para mobile flex box */
  .container-mobile{
    max-width: 100%;
    margin: 2px auto 0 auto;
  }
  .flex1-mobile{
    flex: 4;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    flex-basis: 1%;
  }
  .flex2-mobile{
    flex: 2;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
    flex-basis: 1%;
  
  }
  @media (min-width: 900px) {
    .container-mobile{
      display: flex;
      justify-content: space-between;
    }
  }